/* src/App.css */
.app {
  background-color: #181818;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

input {
  color: white;
  background-color: #303030;
}

input::placeholder {
  color: #b3b3b3;
}
